.cardContainer {
    width: 26vw;
    height: 33vw;
    border-radius: .5vw;
    background-color: white;
    box-shadow: -4px 3px 20px #aaa; 
    transition: transform 0.4s;
}

.cardContainer:hover {
    transform: translate(0, -10px);
}


.image {
    height: 28vw;
    width: auto;
    object-fit: cover;
}

#imageDiv {
    overflow: hidden;
    width: 26vw;
    height: 28vw;  
    border-top-left-radius: .5vw;
    border-top-right-radius: .5vw;    
}

.line {
    width: 26vw;
    height: .1vw;
    background-color: #d0d0d0;
}

.cardHeading {
    font-size: 1.75vw;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

.cardSubHeading {
    font-size: 1vw;
    color: #737377;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 300;
}

