.navBarTop {
    width: 98vw;
    position: fixed;
    left: 2vw;
    top: 0.5vw;
}

.navLogo {
    font-size: 2vw;
    font-family: 'Roboto Slab';
    color: #d0d0d0;
    font-weight: bold;
}

.otherNav {
    position: fixed;
    top: 4vw;
    left: 3vw;
    display: flex;
    flex-flow: column;
}

.navItem {
    width: 10px;
    height: 10px;  
    box-sizing: border-box;
    margin-bottom:25px;
    transition: 0.3s;
    border-radius: 50%;    
}

.black {
    border: 1px solid black;
}

.black:hover {
    transform: scale(1.2);
    background-color: black;
}

.blackSelected {
    background-color: black;
    border: 1px solid black;    
}

.blackSelected:hover {
    background-color: transparent;
}

.white {
    border: 1px solid white;
}

.white:hover {
    transform: scale(1.2);
    background-color: white;
}

.whiteSelected {
    background-color: white;
    border: 1px solid white;    
}

.whiteSelected:hover {
    background-color: transparent;
}

.button {
    position: relative;
    left: 94vw;
    top: 1.2vw;
}