.carouselContainer {
	width: 85%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-flow: row;
	padding-top: 14vw;
}

.carouselContainer a {
	color: black;
	text-decoration: none;
	cursor: none;
}