.headingLanding {
	color: white;
	font-family: 'Bahnschrift Semibold';
	font-size: 6.25vw;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-flow: row;
	padding-top: 20vw;	
}

.subHeadingLanding {
	color: white;
	font-family: 'Roboto Slab';
	font-weight: 300;
	font-size: 1.2vw;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-flow: row;				
}